* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

h1, p {
    margin: 0;
}

.container {
    max-width: 970px;
    padding: 0 10px;
    margin: 0 auto;
}